@font-face {
    font-family: 'Moderustic';
    src: url("fonts/Moderustic-Regular.ttf") format('truetype'),
    url("/fonts/Moderustic-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moderustic';
    src: url("/fonts/Moderustic-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #F5EBE0;
    align-items: center;
    text-align: center;
}

.title_text {
    font-family: 'Moderustic', sans-serif;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}

.main_text {
    font-family: 'Moderustic', sans-serif;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.parent_element {
    text-align: center;
    height: 25vh;
    display: flex;
    align-items: center;
}

.pop-element {
    width: 140px;
    height: 60px;
    background-color: #D6CCC2;
    animation: pulse 2s infinite;
    border-radius: 10%;
    font-family: 'Moderustic', sans-serif;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(241, 224, 208, 0.7);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 20px 20px rgba(241, 224, 208, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(241, 224, 208, 0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in {
    opacity: 0; /* Ensure elements are initially hidden */
    transform: translateY(20%); /* Start in the translated state */
    transition: opacity 1s, transform 1s; /* Ensure a smooth transition */
}

/* Add delays for each element */
.slide-in:nth-child(1) {
    transition-delay: 0s;
}

.slide-in:nth-child(2) {
    transition-delay: 0.5s;
}

.slide-in:nth-child(3) {
    transition-delay: 1s;
}

.slide-in:nth-child(4) {
    transition-delay: 1.5s;
}

.slide-in:nth-child(5) {
    transition-delay: 2s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
